<div class="dashboard-container">
  <div class="card">
    <h2>Actores</h2>
    <div class="toolbar">
      <button class="button" (click)="addActor()">Nuevo Actor</button>
      <input type="text" placeholder="Buscar actores" class="search-input" [(ngModel)]="searchTerm" (keyup)="onSearch()">

    </div>
    <div class="actors-grid">
      <div *ngFor="let actor of actors" class="actor-card">
        <img [src]="'data:image/jpeg;base64,' + actor.profile_photo" [alt]="actor.name" class="actor-photo">
        <h3 class="actor-name">{{ actor.name }}</h3>
        <div class="actor-actions">
          <button class="button edit" (click)="openEditDialog(actor)">Editar</button>
          <button class="button delete" (click)="openDeleteDialog(actor)">Eliminar</button>
        </div>
      </div>
    </div>

    <!-- Botones de navegación -->
    <div class="pagination-controls">
      <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Anterior</button>
      <span>Página {{ page + 1 }} de {{ totalPages }}</span>
      <button (click)="onPageChange(page + 1)" [disabled]="page + 1 === totalPages">Siguiente</button>
    </div>
  </div>
</div>
