<div class="page-container">
    <div class="form-container">
      <h2>Añadir Nuevo Actor</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="actor-name">Nombre del Actor</label>
          <input
            type="text"
            id="actor-name"
            name="actor-name"
            [(ngModel)]="actor.name"
            required
          />
        </div>
        <div class="form-group">
          <label for="actor-photo">Foto del Actor</label>
          <input
            type="file"
            id="actor-photo"
            name="actor-photo"
            (change)="onFileSelected($event)"
            accept="image/*"
            required
          />
          <!-- Vista previa de la imagen -->
          <div *ngIf="previewImage" class="image-preview">
            <img [src]="previewImage" alt="Vista previa de la imagen" />
          </div>
        </div>
        <div class="button-group">
          <button type="button" class="button cancel" (click)="cancel()">Cancelar</button>
          <button type="submit" class="button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  