<div class="dashboard-container">
  <div class="card">
    <h2>Directores</h2>
    <div class="toolbar">
      <button class="button" (click)="addDirector()">Nuevo Director</button>
      <input type="text" placeholder="Buscar directores" class="search-input" [(ngModel)]="searchTerm" (keyup)="onSearch()">

    </div>
    <div class="directors-grid">
      <div *ngFor="let director of directors" class="director-card">
        <img [src]="'data:image/jpeg;base64,' + director.profile_photo" [alt]="director.name" class="director-photo">
        <h3 class="director-name">{{ director.name }}</h3>
        <div class="director-actions">
          <button class="button edit" (click)="openEditDialog(director)">Editar</button>
          <button class="button delete" (click)="openDeleteDialog(director)">Eliminar</button>
        </div>
      </div>
    </div>
        <!-- Botones de navegación -->
    <div class="pagination-controls">
      <button (click)="onPageChange(page - 1)" [disabled]="page === 0">Anterior</button>
      <span>Página {{ page + 1 }} de {{ totalPages }}</span>
      <button (click)="onPageChange(page + 1)" [disabled]="page + 1 === totalPages">Siguiente</button>
    </div>
  </div>
</div>