<div class="page-container">
  <h1>Explorador de Películas</h1>
  <input type="text" placeholder="Buscar películas" class="search-input" [(ngModel)]="searchTerm" (keyup)="onSearch()">
  <div class="movie-grid">
    <div *ngFor="let movieWithGenres of moviesWithGenres" class="movie-card" (click)="navigateToDetailMovie(movieWithGenres.movie.movieId)">
      <img [src]="'data:image/jpeg;base64,' + movieWithGenres.movie.poster" [alt]="movieWithGenres.movie.title" class="movie-poster">
      <div class="movie-info">
        <h2 class="movie-title">{{ movieWithGenres.movie.title }}</h2>
        <div class="movie-meta">
          <div class="movie-genre">{{ movieWithGenres.genresString }}</div>
          <div class="movie-year">{{ movieWithGenres.movie.year }}</div>
          <div class="movie-rating">{{ movieWithGenres.movie.rating | number: '1.1-1' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
