<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/listMovie" routerLinkActive="active">Peliculas</a>
            <a mat-list-item routerLink="/admin/listGenre" routerLinkActive="active">Géneros</a>
            <a mat-list-item routerLink="/admin/listDirector" routerLinkActive="active">Directores</a>
            <a mat-list-item routerLink="/admin/listActor" routerLinkActive="active">Actores</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>